<nav>
    <div class="site-title">
     <a href="/"><h1>Welcome to Blogsite</h1></a>
     <p>Write your thoughts here</p>
    </div>
    <ul>
     <li><a href="/">Blogs</a></li>
     <li><a href="/about">About</a></li>
     <li><a href="/blogs/create">Create blog</a></li>
    </ul>
 </nav>