<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about_content">
        <h2>Abouts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptas consectetur, ipsa odio ab impedit voluptatem corporis illo deserunt, provident iusto fuga similique temporibus, ullam nobis alias odit? In, eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptas consectetur, ipsa odio ab impedit voluptatem corporis illo deserunt, provident iusto fuga similique temporibus, ullam nobis alias odit? In, eius.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>